.sm-navbar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}
.sm-navbar-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.sm-navbar-logo-card {
  display: flex;
  align-items: center;
}
.sm-navbar-website-logo {
  width: 85px;
}
.sm-navbar-logo-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  padding-left: 14px;
}
.sm-navbar-content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 90%;
}

.sm-search-card {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 70%;
  justify-content: space-between;
  background-color: #4094ef;
}
.sm-search-bar {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #989898;
  border: none;
  outline: none;
  padding-left: 10px;
  width: 100%;
  height: 38px;
}
.sm-search-btn {
  background: #dbdbdb;
  border: none;
  height: 40px;
  width: 50px;
  outline: none;
  cursor: pointer;
}
.sm-link-card {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0px;
  width: 60%;
}
.sm-nav-list-item {
  flex-grow: 1;
}
.sm-nav-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 20%;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #262626;
}
.sm-light-icon {
  color: #ffffff;
}

.sm-selectedLink {
  color: #4094ef;
}
@media all and (max-width: 406px) {
  .sm-nav-link {
    font-size: 16px;
    line-height: 12px;
    padding-right: 5px;
  }
}
@media all and (max-width: 352px) {
  .sm-nav-link {
    font-size: 14px;
    line-height: 10px;
    padding-right: 2px;
  }
}
.sm-logout-btn {
  min-width: 76px;
  max-width: 100px;
  height: 32px;
  background: #4094ef;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 16px;
  cursor: pointer;
  flex-grow: 1;
}

.hamburger-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}
.closeMenu-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.sm-header-line {
  border: 1px whitesmoke solid;
}
.sm-dark-header-line {
  border: 1px #f2f3eb solid;
}
.themeBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.sm-header-dark-bg {
  background-color: #000000;
}
