.homePage-container {
  width: 100%;
  height: 100%;
  background: #fafafa;
}
@media all and (max-width: 768px) {
  .lg-header {
    display: none;
  }
}
@media all and (min-width: 769px) {
  .sm-header {
    display: none;
  }
}
.home-post-container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}
.post-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.home-content-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}

@media all and (max-width: 768px) {
  .home-content-container {
    width: 100%;
  }
}

.home-story-container {
  width: 100%;
}

@media all and (max-width: 768px) {
  .home-story-container {
    width: 85%;
    align-self: center;
  }
}

.post-list-container {
  width: 100%;
  list-style-type: none;
  padding: 0px;
}
.search-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}
@media all and (max-width: 768px) {
  .search-heading {
    display: none;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.search-card-container {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(123, 135, 148, 0.16);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}
@media all and (max-width: 768px) {
  .search-card-container {
    background: none;
    box-shadow: none;
    border-radius: none;
    margin-bottom: 10px;
    padding: 0px;
  }
}

.home-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.failure-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.home-failure-view-img {
  height: 50px;
}
.search-failure-view-img {
  width: 70%;
}

.home-error-msg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #262626;
  text-align: center;
}
@media all and (max-width: 768px) {
  .home-error-msg {
    font-size: 18px;
    line-height: 20px;
  }
}
.home-failure-btn {
  width: 110px;
  height: 36px;
  background: #4094ef;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .home-failure-btn {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 12px;
  }
}
.no-search-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.no-search-view-img {
  height: 420px;
}
@media all and (max-width: 768px) {
  .no-search-view-img {
    height: 320px;
    min-width: 50%;
    max-width: 70%;
  }
}
.no-search-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #262626;
}
@media all and (max-width: 768px) {
  .no-search-title {
    font-size: 26px;
    line-height: 28px;
  }
}
.no-search-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #989898;
  margin-top: 0px;
}
.home-story-line {
  background: #dbdbdb;
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding: 0px;
  margin: 0px;
}
@media all and (min-width: 769px) {
  .home-story-line {
    display: none;
  }
}
